<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Hello Mockups - Backend3</title>
</head>
<body>
    <header>
        <div class="header_text">Backend3</div>
        <div class="header_ref home_page"><a href="/Mockups">Home</a></div>
        <div class="header_ref mockups_page"><a href="/Mockups">Mockups</a></div>
    </header>
    <div class="main_container">
        <div class="page_name">Mockups</div>

        <ul class="ref_links">
            <li><a href="Mockups/Quiz">Quiz</a></li>
            <li><a href="Mockups/Quiz">QuizResult</a></li>
        </ul>
    </div>
    <footer>
        <div class="underscore"> </div>
        © 2025 - Backend3
    </footer>
</body>
</html>