*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    max-width: 100%;
    height: 50px;
    background-color: #222222;
    color: gray;
    font-size: 26px;
    padding: 10px 10px 10px 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_ref, .header_text{
    margin: 0px 20px 0px 20px;
}

.header_ref{
    color: gray;
    font-size: 18px;
}

.header_ref a{
  text-decoration: none;
  color: gray;
}

.page_name{
    margin: 20px 0px 10px 0px;
    font-size: 46px;
}

.ref_links{
    margin-left: 40px;
}

li{
    margin: 10px;
}

li a {
  text-decoration: none;
}

.main_container{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.user_input{
    margin-top: 5px;
    padding: 5px;
}

.next_btn, .finish_btn{
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-width: 0px;
    border-radius: 5px;
}

.finish_btn{
    margin-left: 5px;
    color: white;
    background-color: #1064ff;
}

.underscore{
    border-bottom: 1px solid gray;
    width: 90vw;
    margin:2vh 0px 2vh 0px;
}

footer{
    max-width:100%;
    margin-left: 90px;
    font-size: 1.5vh;
}