* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family: Arial;
}

.main_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 5px solid #87adff;
    padding: 15px;
    max-width: 320px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.calculator_input input {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 24px;
    /* padding: 0 10px; */
    padding: 10px 10px 10px 10px;
}

.calculator_btns {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.calculator_btn {
    font-size: 20px;
    border-radius: 0px;
    border: 1px solid darkgray;
}

.calculator_btn:nth-child(15) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}

.calculator_btn:nth-child(16) {
    grid-column-start: 1;
    grid-column-end: 3;
}
