*
{
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

body
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main
{
	max-width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.news
{
	background-color: aqua;
	border-bottom: 2px solid black;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.news:hover
{
	background-color: red;
}

.news p
{
	margin-top: 5px;
}

.news button
{
	align-self: center;
	width: fit-content;
	background-image: linear-gradient(rgb(184, 243, 89), rgb(45, 211, 45));
	padding: 5px 10px;
	color: white;
	border: 1px solid grey;
	cursor: pointer;
}

.modal
{
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 2;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.modal_inner
{
	background-color: rgb(229, 252, 98);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	padding: 20px;
	gap: 30px;
	cursor: default;
}