*{
    margin: 0px;
    padding: 0px;
}

.content{
    padding: 10px;
    color: white;
    font-size: 14px;
}

.firts_static{
    background-color: blueviolet;
    width: 170px;
    height: 130px;
    position: static;
    top: 0;
    left: 0;
}

.first_relative{
    background-color: darkred;
    width: 170px;
    height: 120px;
    position: relative;
}

.second_relative{
    background-color: peru;
    width: 170px;
    height: 120px;
    position: relative;
    left: 40px;
    top: -40px;
}

.third_relative{
    background-color: indianred;
    width: 700px;
    height: 400px;
    position: relative;
}

.child_absolute{
    background-color: indigo;
    width: 300px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 80px;
}

.fixed_div{
    background-color: green;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
}