*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    width: 700px;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
}

.main_content{
    text-align: left;
    color: white;
    background-color: blue;
    flex: 1;
}