*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

.main_container{
    height: 55vh;
    width: 45vw;
    max-width: 45vw;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
}

.navigation_buttons{
    display: flex;
    flex: 0 1 auto;
    max-height: 5vh;
}

.navigation_button_left{
    background-color: red;
    border: 2px solid black;
    flex: 1 1 auto;
    padding: 10px;
    font-size: 20px;
}

.navigation_button_middle{
    background-color: red;
    border: 2px solid black;
    flex: 1 1 auto;
    padding: 10px;
    font-size: 20px;
}

.navigation_button_right{
    background-color: red;
    border: 2px solid black;
    flex: 1 1 auto;
    padding: 10px;
    font-size: 20px;
}

.images_container{
    display: flex;
    flex: 1 1 auto;
}

.left_image_container{
    /* padding: 20px 20px 20px 20px; */
    background-color: blue;
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-start;
    align-items: top;
}

.left_image{
    padding: 20px 20px 80px 20px;
    height: 100%;
    width: 100%;
}

.right_image_container{
    /* padding: 20px 20px 20px 20px; */
    background-color: green;
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-start;
    align-items: top;
}

.right_image{
    padding: 20px 20px 80px 20px;
    height: 100%;
    width: 100%;
}