* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    display: flex;
    flex-direction: column;
}

.main_container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.navigation_buttons{
    display: flex;
    flex-direction: row;
}

input {
    width: 150px;
    z-index: 2;
}

button {
    z-index: 2;
    padding: 5px;
}